---
import Layout from "@/layouts/Layout.astro";

export const prerender = true;
---

<Layout title="About">
  <section class="container space-y-3">
    <h1 class="text-4xl font-bold underline">About</h1>
    <p>We are TrustLink solutions</p>
  </section>
</Layout>
