---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Signup">
  <h1>Signup</h1>
  <p>Already have an account? <a href="/login">Login</a></p>
  <form action="/api/auth/register" method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <button type="submit">Register</button>
  </form>
</Layout>