<footer class="pt-10 pb-2  bg-black text-white">
  <section class="container">
    <a href="/" class="">
        <img src="/logo.png" alt="Company Logo" width="90px" loading="lazy">
        <span class="text-xl font-bold">TrustLink Solutions</span>
    </a>

    <div class="flex flex-col my-4">
        <p>Email: </p>
        <a href="mailto:trustlinksolutionspty@gmail.com">trustlinksolutionspty@gmail.com</a>
    </div>
  </section>

  <p class="flex justify-center p-5">@ TrustLink Solutions 2024</p>
</footer>
