---
import Layout from "@/layouts/Layout.astro";


---


<Layout title="Plans" description="View Our plans from trustlink soultions">
<section class="container p-3">
    <h1 class="text-4xl font-bold">Plans</h1>
    <div>
        <label for="search" class="flex gap-3">
            <p>Search: </p>
            <input type="text" id="search" name="search">
        </label>
    </div>
</section>
</Layout>