---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Companies">
  <section class="container p-3">
    <h1 class="text-4xl font-bold">Companies</h1>
    <div>
      <label for="search" class="flex gap-3">
        <p>Search:</p>
        <input type="text" id="search" name="search" />
      </label>
    </div>
  </section>
</Layout>
