---
import BaseHead from "@/components/BaseHead.astro";
import Navbar from "@/components/Navbar";
import "@/styles/global.css";

interface Props {
  title?: string;
  description?: string;
  image?: string;
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...Astro.props} />
  </head>
  <body>
    <Navbar client:load transition:persist />
    <main transition:animate="fade">
      <slot />
    </main>
    <footer></footer>
  </body>
</html>
